---
import Question from "./Question.astro";
import Continue from "./Continue.astro";
import OnlyWithJs from "./OnlyWithJs.astro";

export interface Props {
  title: string;
  chapter: number;
  question?: {
    text: string;
    answers: string[] | { text: string; href: string }[];
  };
}

const { chapter, question, title } = Astro.props;
---

<div id=`chapter-${chapter}` class='mix-blend-screen relative top-0 left-0'>
  {
    chapter === 0 ? (
      <>
        <h1 class='px-8 sm:px-0 max-w-xl mx-auto text-[clamp(48px,8vw,68px)] text-center leading-10'>
          {title}
        </h1>
        <p class='px-8 sm:px-0 max-w-xl mt-8 mx-auto text-4xl text-center'>
          A Tale of Transformation
        </p>
      </>
    ) : (
      <h2 class='px-8 sm:px-0 max-w-xl mx-auto text-4xl'>{title}</h2>
    )
  }
  <div class='md:px-8'>
    <img
      src=`/images/chapter-${chapter}.png`
      class='max-w-4xl mx-auto w-full my-12 lg:my-16 md:rounded-xl'
    />
  </div>
  <div class='px-8 sm:px-0 max-w-xl mx-auto gap-y-5 flex-col flex'>
    <slot />
    <div class='mt-8'>
      <OnlyWithJs>
        {
          question ? (
            <Question to={chapter + 1} question={question} />
          ) : (
            <Continue to={chapter + 1} />
          )
        }
      </OnlyWithJs>
    </div>
  </div>
</div>
